
<p-fieldset legend="¿ Qué es Copasst ?">
  <p class="m-0" style="text-align: justify;">
    El Comité Paritario de Seguridad y Salud en el Trabajo es el organismo encargado de vigilar y promocionar, las normas, reglamentos y demás disposiciones que tengan que ver con
     la Seguridad y Salud en el Trabajo dentro de la empresa. Su principal finalidad es buscar la reducción de los riesgos que se puedan presentar durante las actividades realizadas 
    dentro de la empresa.
  </p>
</p-fieldset>

<div class="card">

    <p-fieldset legend="¿ Qué funciones tiene Copasst ?">
      <p class="m-0" style="text-align: justify;">
        Las funciones del Comité Paritario de Seguridad y Salud en el Trabajo se encuentran establecidas en el artículo
        11 de la Resolución 2013 de 1986, las cuales son: 
      </p>
    </p-fieldset>

  <p-tabView class="headers">
      <p-tabPanel header="Función 1">
          <p>
            Proponer a la Dirección de la Entidad la adopción de medidas y el desarrollo de actividades que procuren y mantengan la salud en los lugares y ambientes de trabajo.
          </p>
      </p-tabPanel>
      <p-tabPanel header="Función 2">
          <p>
            Proponer y participar en actividades de capacitación en seguridad y salud en el trabajo dirigidas a colaboradores y directivos de la Entidad.
          </p>
      </p-tabPanel>
      <p-tabPanel header="Función 3">
          <p>
            Vigilar el desarrollo de las actividades que en materia de medicina, higiene y seguridad y salud en el trabajo (SST), debe realizar la Entidad. De acuerdo con las normas 
            vigentes y proponer su divulgación y observación.
          </p>
      </p-tabPanel>
      <p-tabPanel header="Función 4">
        <p>
          Colaborar en el análisis de las causas de los accidentes de trabajo y enfermedades laborales y proponer al responsable del Sistema de Gestión en Seguridad y Salud en el 
          Trabajo las medidas correctivas a que haya lugar para evitar su ocurrencia. Evaluar los programas que se hayan realizado.
        </p>
      </p-tabPanel>
      <p-tabPanel header="Función 5">
        <p>
          Visitar periódicamente los lugares de trabajo e inspeccionarlos ambientes, equipos y las operaciones realizadas por los funcionarios, informar al responsable del sistema 
          de gestión en seguridad y salud en eltrabajo (SG / SST) sobre la existencia de factores de riesgo y sugerir las medidas correctivas y de control.
        </p>
      </p-tabPanel>
      <p-tabPanel header="Función 6">
        <p>
          Estudiar y considerar las sugerencias que presenten los colaboradores, en materia de medicina, higiene y seguridad industrial.
        </p>
      </p-tabPanel>
      <p-tabPanel header="Función 7">
        <p>
          Servir como organismo de coordinación entre la Entidad y los servidores públicos, contratistas y partes interesadas en la solución de los problemas relativos a seguridad 
          y salud en el trabajo (SST).
        </p>
      </p-tabPanel>
      <p-tabPanel header="Función 8">
<!--         <p>
          Elegir al secretario(a) del Comité.
        </p>
      </p-tabPanel>
      <p-tabPanel header="Función 9">
        <p>
          Mantener un archivo de las actas de cada reunión y demás actividades que se desarrollen, el cual estará en cualquier momento a disposición del empleador, los trabajadores 
          y las autoridades competentes.
      </p-tabPanel>
      <p-tabPanel header="Función 10"> -->
        <p>
          Las demás funciones que le señalen las normas sobre seguridad y salud en el trabajo.
      </p-tabPanel>
  </p-tabView>
</div>

<div class="component">
  <div class="image-container">
    <img src="assets/img/componentes/copaso2.jpg" alt="Image" width="600" class="image-frame img-fluid">
  </div>
  <div class="content">
    <h3 class="tituloTabla">Integrantes</h3>
    <table class="table">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Cargo</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Jefferson David Gómez Valencia</td>
          <td><i class="fas fa-users"></i> Asistente de talento humano</td>
        </tr>
        <tr>
          <td>Paula Alejandra Marin Romero </td>
          <td><i class="fas fa-briefcase"></i> Coordinadora Administrativa</td>
        </tr>
        <tr>
          <td>Yeimy Cristina Gaviria López</td>
          <td><i class="fas fa-calculator"></i> Analista de nómina</td>
        </tr>
        <tr>
          <td> Sandra Lorena Betancourt Acevedo </td>
          <td><i class="fas fa-file-invoice-dollar"></i> Auxiliar contable</td>
        </tr>
        
        <tr>
          <td>Miguel Ángel Herrera Echeverry</td>
          <td><i class="fas fa-laptop-code"></i> Ing. Tecnologías de la información</td>
        </tr>
        <tr>
          <td>Alison Elizabeth Hernández Valencia</td>
          <td><i class="fas fa-user-tie"></i> Coordinadora de talento humano</td>
        </tr>
        <tr>
          <td>Karen Patricia Posada Devoz </td>
          <td><i class="fas fa-shipping-fast"></i> Coordinadora de importaciones</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>