<!-- Hero -->
<div class="flex-container">
    <app-info-complement class="move-up"></app-info-complement>
    <app-perfilUser class="move-right"></app-perfilUser>
</div>
  
<section class="et-hero-tabs">
   <!-- app.component.html -->
        <img src="assets/Logo3.png" class="logoFresmar img-fluid">
    <h3 style="font-weight:bold;font-size: 90%;transform: translateY(30%);">Trabajamos con perseverancia para prestarle un servicio excelente. <br>
        Gracias por creer y confiar en nosotros !!</h3>
    <div class="et-hero-tabs-container">
        <a class="et-hero-tab" href="#tab-Principal">Principal</a>
        <!-- <a class="et-hero-tab" href="#tab-Acordion">informacion</a> -->
        <a class="et-hero-tab" href="#tab-Eventos">Destacados</a>
        <a class="et-hero-tab" href="#tab-Copass">Copasst</a>
        <a class="et-hero-tab" href="#tab-Cocola">Cocola</a>
        <a class="et-hero-tab" href="#tab-Brigada">Brigada Emergencia</a>
        <a class="et-hero-tab" href="#tab-Info">Acerca de</a>
        <span class="et-hero-tab-slider"></span>
    </div>
</section>
<br>
<!-- Main -->
<main class="et-main">

    <section class="et-slide-informacion" id="tab-Principal">
        <br>
        <app-informacion></app-informacion>
    </section>
    <!-- <section class="et-slide" id="tab-Acordion">
        <br>
        <h1> Informacion ?? </h1>
        <br><br>
        <accordion-template></accordion-template>
    </section> -->
    <section class="et-slide-eventos" id="tab-Eventos">
        <br>
        <h1> Eventos realizados </h1>
        <br>
        <app-carousel></app-carousel>
    </section>
    <section class="et-slide-copaso" id="tab-Copass">
        <br>
        <h1>Cómite Paritario de Seguridad y Salud en el Trabajo</h1>
        <br>
        <app-copaso></app-copaso>
    </section>
    <section class="et-slide-cocola" id="tab-Cocola">
        <br>
        <h1>Cómite de Convivencia Laboral </h1>
        <br>
        <app-cocola></app-cocola>
    </section>
    <section class="et-slide-brigada" id="tab-Brigada">
        <br>
        <h1>Brigada de Emergencia </h1>
        <br>
        <app-brigada></app-brigada>
    </section>
    <section class="et-slide-info" id="tab-Info">
        <br>
        <h1>Información de Interés</h1>
        <app-card></app-card>
    </section>

</main>