

<p-fieldset legend="¿ Qué es la Brigada de Emergencias?">
  <p class="m-0" style="text-align: justify;">
    Es un grupo de personas debidamente entrenados para actuar antes, durante  y después  de  una  emergencia en la empresa.
  </p>
</p-fieldset>

<p-fieldset legend="La Brigada de emergencias realiza las labores de :">
  <p class="m-0" style="text-align: justify;">
    <li> Prevención de accidentes </li>
    <li> Control general de riesgos.  </li>
    <li>Actuar en forma oportuna y eficaz en las emergencias </li>
  </p>
</p-fieldset>

<p-fieldset legend=" ¿ Cúal es el objetivo de la Brigada ?">
  <p class="m-0" style="text-align: justify;">
    Adquirir conocimientos, capacidad técnica y  el entrenamiento  adecuado en  aspectos  de  primeros auxilios, combate y control de  incendios,  evacuación rescate y salvamento.
  </p>
</p-fieldset>
<div class="card">
    <p-fieldset legend="¿ Qué funciones tiene la Brigada de Emergencia ?">
      <p class="m-0" style="text-align: justify;">
        Las funciones de la Brigada de Emergencia son :
      </p>
    </p-fieldset>

  <p-tabView class="headers">
      <p-tabPanel header="Función 1">
          <p>
          En caso de incendio, proceder en forma técnica y ordenada a realizar la extinción del fuego o conato de incendio. 
          </p>
      </p-tabPanel>
      <p-tabPanel header="Función 2">
          <p>
          Una vez controlado el fuego, proceder a la remoción de escombros y a la limpieza del área
          </p>
      </p-tabPanel>
      <p-tabPanel header="Función 3">
          <p>
          Apoyar al grupo de evacuación de personas.
          </p>
      </p-tabPanel>
      <p-tabPanel header="Función 4">
        <p>
          Ayudar en el salvamento de bienes, equipos y maquinaria.
        </p>
      </p-tabPanel>
      <p-tabPanel header="Función 5">
        <p>
        Controlar e inspeccionar el estado y la ubicación del fuego.
        </p>
      </p-tabPanel>
      <p-tabPanel header="Función 6">
        <p>
        Supervisar el mantenimiento periódico de los equipos de extinción del fuego.
        </p>
      </p-tabPanel>
      <p-tabPanel header="Función 7">
        <p>
        Participar en actividades de capacitación en prevención y control de incendios
        </p>
      </p-tabPanel>
      <p-tabPanel header="Función 8">
        <p>
        Investigar e informar los resultados sobre las causas de incendios o conatos de incendios.
        </p>
      </p-tabPanel>
  </p-tabView>
</div>
<div class="component">
  <div class="image-container">
    <img src="assets/img/componentes/brigada.png" alt="Image" width="700" class="image-frame img-fluid">
  </div>
  <div class="content">
    <h3 class="tituloTabla">Integrantes</h3>
    <table class="table">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Cargo</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Yeimi Cristina Gaviria López</td>
          <td><i class="fas fa-calculator"></i> Analista de nómina</td>
        </tr>
        <tr>
          <td> Sandra Lorena Betancourt Acevedo </td>
          <td><i class="fas fa-file-invoice-dollar"></i> Auxiliar contable</td>
        </tr>
        <tr>
          <td> Juan David Ramirez </td>
          <td><i class="fas fa-file-invoice-dollar"></i> Auxiliar Contable </td>
        </tr>
        <tr>
          <td> Neidy Jhoana Castaño Londoño </td>
          <td><i class="fas fa-file-invoice-dollar"></i> Auxiliar Contable </td>
        </tr>
        <tr>
          <td>Jefferson David Gómez Valencia </td>
          <td><i class="fas fa-users"></i> Asistente de talento humano</td>
        </tr>
        <tr>
          <td> Leydi Liliana Mejía Marín </td>
          <td><i class="fas fa-briefcase"></i> Asistente Administrativa </td>
        </tr>
        <tr>
          <td> Juan Camilo Cardona </td>
          <td><i class="fas fa-shipping-fast"></i> Asistente de Importaciones </td>
        </tr>
        <tr>
          <td> Angela Zapata </td>
          <td><i class="fas fa-user-nurse"></i> Asesora de Seguridad y Salud en el Trabajo </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>