
<div class="card">
  <div class="card-head">Misión, Visión y Valores</div>
  <div class="card-body">
    <table class="feature-table">
      <tr>
        <th>Misión</th>
        <td>Comercializar y distribuir alimentos de primera calidad.</td>
      </tr>
      <tr>
        <th>Visión</th>
        <td style="text-align: justify;">Permanecer para el año 2025 como una de las empresas más reconocidas en el mercado por la alta calidad de sus productos alimenticios y excelente servicio al cliente. Incursionar en nuevos mercados a través de una mayor cobertura geográfica, ampliando nuestro portafolio de productos. Estar a la vanguardia de las necesidades de nuestros clientes logrando certificación en buenas prácticas de manufactura. Contribuir a la conservación y protección del medio ambiente y al mismo tiempo generar bienestar a la sociedad.</td>
      </tr>
      <tr>
        <th>Valores</th>
        <td>
          <ul>
            <li>Transparencia: Somos auténticos y confiables.</li>
            <li>Honestidad: Cumplimos nuestras promesas y expresamos sin temor lo que sentimos o pensamos.</li>
            <li>Confianza: Escuchamos con atención y nos comunicamos de manera genuina creando lazos duraderos y honestos.</li>
            <li>Cumplimiento: Aceptamos, respetamos y entendemos las directrices de la empresa.</li>
            <li>Respeto: Tratamos a los demás con la misma consideración con la que nos gustaría ser tratados.</li>
            <li>Responsabilidad: Respondemos por lo que hacemos y asumimos las consecuencias de nuestros actos.</li>
            <li>Lealtad: Respetamos y correspondemos a la confianza entregada.</li>
            <li>Generosidad: Formamos vínculos fuertes y solidarios que constituyen la base de una cultura organizacional armoniosa y cooperamos y nos ayudamos entre sí.</li>
            <li>Humildad: Aprendemos de nuestros errores y aceptamos las ideas y opiniones ajenas.</li>
            <li>Perseverancia: Tenemos voluntad y compromiso para lograr los objetivos.</li>
            <li>Ética empresarial: Establecemos relaciones GANA-GANA.</li>
          </ul>
        </td>
      </tr>
    </table>
  </div>
</div>

<div class="card">
  <div class="card-head">Características Principales de la Intranet</div>
  <div class="card-body">
    <div class="grid-container">
      <div class="grid-item">
        <table class="feature-table">
          <thead>
            <tr>
              <th>Característica</th>
              <th>Estado</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Buscador de fecha para el cumpleaños de todo el personal activo.</td>
              <td><i class="fas fa-check-circle"></i></td>
            </tr>
            <tr>
              <td>Información de los eventos realizados recientemente en la Empresa.</td>
              <td><i class="fas fa-check-circle"></i></td>
            </tr>
            <tr>
              <td>Información de los cómites internos.</td>
              <td><i class="fas fa-check-circle"></i></td>
            </tr>
            <tr>
              <td>Documentación general de cada área, clasificada en: Comunicados, Formatos, Manuales-Guías y Logos.</td>
              <td><i class="fas fa-check-circle"></i></td>
            </tr>
  
            <tr>
              <td>Calendario para la programación de eventos.</td>
              <td><i class="fas fa-check-circle"></i></td>
            </tr>
            <tr>
              <td>Centro de Capacitación Fresmar.</td>
              <td><i class="fas fa-check-circle"></i></td>
            </tr>
            <tr>
              <td>Cuadre de Caja.</td>
              <td><i class="fas fa-check-circle"></i></td>
            </tr>
            <tr>
              <td>GLPI (administrador libre de recursos informáticos).</td>
              <td><i class="fas fa-check-circle"></i></td>
            </tr>
            <tr>
              <td>Usuario individual para inicio de sesión.</td>
              <td><i class="fas fa-hourglass-half"></i></td>
            </tr>
            <tr>
              <td>Asignación de Rol a Usuarios para administración.</td>
              <td><i class="fas fa-hourglass-half"></i></td>
            </tr>
            <tr>
              <td>Componente para realizar Solicitudes (Vacaciones, Cesantías, Auxilios, Permisos, Préstamo).</td>
              <td><i class="fas fa-hourglass-half"></i></td>
            </tr>  
          </tbody>
        </table>
      </div>
      <div class="grid-item">
        <img src="assets/img/componentes/intranet.jpg" alt="Descripción de la imagen" class="fade-in img-fluid">

      </div>
    </div>
  </div>
</div>
