
.link {
	cursor: pointer;
	color: blue;
	text-decoration: underline;
    font-weight: bold;
    font-size: 25px;
}

.titulo {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #555;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
}

body {
    font-family: "Century Gothic", 'Lato', sans-serif;
}

a {
text-decoration: none;
}

.et-hero-tabs {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    height: 18vh;
    position: relative;
    background: #eee;
    text-align: center;
    padding: 0 2em;

    h1 {
        font-size: 2rem;
        margin: 0;
        letter-spacing: 0.3rem;
    }

    h3 {
        font-size: 1rem;
        letter-spacing: 0.1rem;
        opacity: 0.6;
    }
}

.et-slide {
display: flex;
flex-direction: column;
justify-content: top;
align-items: center;
height: 100vh;
position: relative;
background: #eee;
    text-align: center;
    // padding: 0 2em;
h1 {
    font-size: 30px;
    // font-size: 1rem;
    margin: 0;
    // letter-spacing: 1rem;
}
h3 {
    // font-size: 1rem;
    // letter-spacing: 0.3rem;
    font-size: 30px;
    opacity: 0.6;
}
}

.et-hero-tabs-container {
    font-weight: bold;
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    width: 91%;
    height: 30%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background: rgb(174, 223, 174);
    z-index: 10;

    &--top {
        position: fixed;
        top: 0;
        height: 7%;
        width: 91%;
    }
}

.et-hero-tab {
display: flex;
justify-content: center;
align-items: center;
flex: 1;
color: #000;
letter-spacing: 0.1rem;
    transition: all 0.5s ease;
    font-size: 0.8rem;
  &:hover {
        color:white;
  background: #079b02;
        transition: all 0.5s ease;
    }
}

.et-hero-tab-slider {
position: absolute;
bottom: 0;
width: 0;
height: 6px;
background: #10c70a;
transition: left 0.3s ease;
}

@media (min-width: 800px) {
.et-hero-tabs,
.et-slide {
h1 {
    font-size: 3rem;
}
h3 {
    font-size: 1rem;
}
}
.et-hero-tab {
    font-size: 1rem;
}
}