
  <!-- Hero -->
  <section class="et-hero-tabs">
    <h1>Solicitudes Fresmar</h1>
    <h3>Aqui podras realizar solicitudes.</h3>
    <div class="et-hero-tabs-container">
      <!-- <a class="et-hero-tab" href="#tab-es6"> Vacaciones </a>
      <a class="et-hero-tab" href="#tab-flexbox"> Cesantias </a>
      <a class="et-hero-tab" href="#tab-react"> Auxilios </a>
      <a class="et-hero-tab" href="#tab-angular"> Permisos </a>
      <a class="et-hero-tab" href="#tab-other"> Prestamo </a>
      <span class="et-hero-tab-slider"></span> -->

      <a class="et-hero-tab" href="#tab-es6"> General </a>
      <a class="et-hero-tab" href="#tab-other"> Vacaciones </a>
      <a class="et-hero-tab" href="#tab-flexbox"> Cesantias </a>
      <a class="et-hero-tab" href="#tab-angular"> Permisos </a>
      <a class="et-hero-tab" href="#tab-react"> Auxilios </a>
      <a class="et-hero-tab" href="#tab-other"> Prestamo </a>

      <span class="et-hero-tab-slider"></span>
    </div>
  </section>
  <!-- Main -->
  <main class="et-main" style="margin-top: 30px;">
    <section class="et-slide" id="tab-es6">
      <h1 style="margin-top: 55px; font-size: 25px; text-align: start;font-weight: bold;"> Ingresa a nuestro link de formulario de Google para diligenciar tu solicitud.</h1>
      <br><br>
      <p style="font-weight: bold;"> Hacer click aqui :
        <a class="link" href="https://docs.google.com/forms/d/e/1FAIpQLSeselFsA883-UgHrVpNxAS75oeTDEBQaD-mPZROsvRpBG-yJw/viewform" target="_blank">Formulario de Solicitudes</a> 
      </p>
    </section>
<!--     <section class="et-slide" id="tab-flexbox">
      <h1> Cesantias </h1>
      <h3> Proximamente disponible ...</h3>
    </section>
    <section class="et-slide" id="tab-react">
      <h1> Auxilios </h1>
      <h3> Proximamente disponible ...</h3>
    </section>
    <section class="et-slide" id="tab-angular">
      <h1> Permisos </h1>
      <h3> Proximamente disponible ...</h3>
    </section>
    <section class="et-slide" id="tab-other">
      <h1> Prestamo </h1>
      <h3> Proximamente disponible ...</h3>
    </section> -->
  </main>