
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #ECEFFC;
  }

  .contenedorImagenTexto {
    display:block;
    align-items: center;
  }
  
  .contenedorImagen {
    width: 100%;
    flex: 1;
  }
  
  .contenedorTexto {
    margin-top: 30px;
    flex: 1;
    margin-left: 20px;
    margin-right: 20px; /* Margen derecho agregado */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Box shadow agregado */
    padding: 10px; /* Espacio interno agregado */
  }
  
  .textoContainer {
    margin-bottom: 10px;
  }

  .textoContainer h2 {
    justify-content: center;
    text-align: center;
  }
  
  .textoContainer h3 {
    font-size: 18px;
    color: #333;
    /* Agrega otros estilos según tus preferencias */
  }
  
  

  .carousel {
    --carousel-width: 800px;
    --carousel-height: 600px;
    --navdots-height: 24px;
    --active-index: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    width: var(--carousel-width);
    height: var(--carousel-height);
  }
  
  .carousel .slides {
    text-align: justify;
    display: flex;
    padding: 0;
    margin: 0;
    overflow: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    overscroll-behavior: contain;
    list-style-type: none;
  }
  
  .carousel .slides img {
    cursor: pointer;
    width: var(--carousel-width);
    height: calc(var(--carousel-height) - var(--navdots-height));
    scroll-snap-align: start;
  }
  
  .carousel .nav-dots {
    display: flex;
    justify-content: space-around;
    height: var(--navdots-height);
    padding: 20px 0 0 0;
    margin: 0 auto;
    list-style-type: none;
  }
  
  .carousel .nav-dots .dot a {
    position: relative;
    display: block;
    width: calc(var(--navdots-height) / 2);
    height: auto;
  }
  
  .carousel .nav-dots .dot a::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
  }
  
  .carousel .nav-dots .dot a:hover::before {
    background: rgba(0, 0, 0, 0.4);
  }
  
  .carousel .nav-dots .dot a.active::before {
    background: rgba(0, 0, 0, 0.6);
  }
  
  .carousel .nav-arrows {
    margin: 0;
    list-style-type: none;
  }
  
  .carousel .nav-arrows li {
    position: absolute;
    bottom: calc(50%);
    width: 2em;
    height: 2em;
    border: 5px solid black;
    cursor: pointer;
  }
  
  .carousel .nav-arrows li.arrow-left {
    left: -50px;
    border-right-color: transparent;
    border-bottom-color: transparent;
    transform: rotate(-45deg);
    transition: 1s cubic-bezier(0.2, 1, 0.3, 1);
  }
  
  .carousel .nav-arrows li.arrow-right {
    right: -50px;
    border-left-color: transparent;
    border-bottom-color: transparent;
    transform: rotate(45deg);
    transition: 1s cubic-bezier(0.2, 1, 0.3, 1);
  }
  
  .carousel .nav-arrows li.arrow-left::before,
  .carousel .nav-arrows li.arrow-right::before {
    position: absolute;
    content: "";
    top: calc(-13%);
    left: calc(-15%);
    width: inherit;
    height: inherit;
    border: inherit;
  }
  
  
  .carousel .nav-arrows li.arrow-left:hover {
    border-left-color: #1fff01;
    border-top-color: #1b8f17;
  }
  
  .carousel .nav-arrows li.arrow-left:hover::before {
    border-left-color: #1fff01;
    border-top-color: #1b8f17;
    animation: fadeToLeft 2.5s cubic-bezier(0.2, 1, 0.3, 1) infinite;
  }
  
  .carousel .nav-arrows li.arrow-right:hover {
    border-right-color: #1fff01;
    border-top-color: #1b8f17;
  }
  
  .carousel .nav-arrows li.arrow-right:hover::before {
    border-right-color: #1fff01;
    border-top-color: #1b8f17;
    animation: fadeToRight 2.5s cubic-bezier(0.2, 1, 0.3, 1) infinite;
  }
  
  @keyframes fadeToLeft {
    5% {
      transform: translate(10%, 10%);
    }
    to {
      transform: translate(-100%, -100%);
      opacity: 0;
    }
  }
  
  @keyframes fadeToRight {
    5% {
      transform: translate(-10%, 10%);
    }
    to {
      transform: translate(100%, -100%);
      opacity: 0;
    }
  }
  