
<p-fieldset legend="¿ Qué es Cocola ?">
  <p class="m-0" style="text-align: justify;">
    El Comité de Convivencia Laboral tiene por objeto prevenir las conductas de acoso laboral y atenderlas en caso de presentarse. El Comité procurará promover relaciones laborales
    propicias para la salud mental y el respeto a la dignidad de los empleados de todos los niveles jerárquicos de la Corporación, mediante estrategias de promoción, prevención e 
    intervención para la resolución de conflictos, es de esta manera como desarrollará actividades de sensibilización, capacitación y vigilancia periódica.
  </p>
</p-fieldset>

<p-fieldset legend="¿ Cómo se eligen los Representantes de los Trabajadores ?">
  <p class="m-0" style="text-align: justify;">
    Por votación secreta que represente la expresión libre, espontánea y auténtica de todos los trabajadores, y mediante escrutinio público. Los miembros son elegidos por un período
    de dos años. Deben reunirse cada 3 meses o de manera extraordinaria cuando se requiera.
  </p>
</p-fieldset>

<div class="card">

    <p-fieldset legend="¿ Qué funciones tiene Cocola ?">
      <p class="m-0" style="text-align: justify;">
        Las funciones del Comité de convivencia laboral son :
      </p>
    </p-fieldset>

  <p-tabView class="headers">
      <p-tabPanel header="Función 1">
          <p>
            Recibir y dar trámite a las quejas presentadas en las que se describan situaciones que puedan constituir acoso laboral, así como las pruebas que las soportan.
          </p>
      </p-tabPanel>
      <p-tabPanel header="Función 2">
          <p>
            2.Examinar de manera confidencial los casos específicos o puntuales en los que se formule queja o reclamo, que pudieran tipificar conductas o circunstancias de 
            acoso laboral, al interior de la entidad pública o empresa privada.
          </p>
      </p-tabPanel>
      <p-tabPanel header="Función 3">
          <p>
          Escuchar a las partes involucradas de manera individual sobre los hechos que dieron lugar a la queja.
          </p>
      </p-tabPanel>
      <p-tabPanel header="Función 4">
        <p>
          Adelantar reuniones con el fin de crear un espacio de diálogo entre las parte involucradas, promoviendo compromisos mutuos para llegar a una solución efectiva de las 
          controversias.
        </p>
      </p-tabPanel>
      <p-tabPanel header="Función 5">
        <p>
          Formular un plan de mejora concertado entre las partes, para construir, renovar y promover la convivencia laboral, garantizando en todos los casos el principio de la 
          confidencialidad.
        </p>
      </p-tabPanel>
      <p-tabPanel header="Función 6">
        <p>
          Hacer seguimiento a los compromisos adquiridos por las partes involucradas en la queja, verificando su cumplimiento de acuerdo con lo pactado.
        </p>
      </p-tabPanel>
      <p-tabPanel header="Función 7">
        <p>
          En aquellos casos en que no se llegue a un acuerdo entre las partes, no se cumplan las recomendaciones formuladas o la conducta persista, el Comité de Convivencia Laboral,
          deberá remitir la queja a la Procuraduría General de la Nación.
        </p>
      </p-tabPanel>
  </p-tabView>
</div>

<div class="component">
  <div class="image-container">
    <img src="assets/img/componentes/copaso.jpeg" alt="Image" width="700" class="image-frame img-fluid">
  </div>
  <div class="content">
    <h3 class="tituloTabla">Integrantes</h3>
    <table class="table">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Cargo</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Jefferson Cardona Gómez</td>
          <td><i class="fas fa-users"></i> Asistente de talento humano</td>
        </tr>
        <tr>
          <td> Sandra Lorena Betancourt Acevedo </td>
          <td><i class="fas fa-file-invoice-dollar"></i> Auxiliar contable</td>
        </tr>
        <tr>
          <td>Yeimi Cristina Gaviria López</td>
          <td><i class="fas fa-calculator"></i> Analista de nómina</td>
        </tr>
        <tr>
          <td>Miguel Ángel Herrera Echeverry</td>
          <td><i class="fas fa-laptop-code"></i> Ing. Tecnologías de la información</td>
        </tr>
        <tr>
          <td>Karen Patricia Posada Devoz </td>
          <td><i class="fas fa-shipping-fast"></i> Coordinadora de importaciones</td>
        </tr>
        <tr>
          <td>Alison Elizabeth Hernández Valencia</td>
          <td><i class="fas fa-user-tie"></i> Coordinadora de talento humano</td>
        </tr>
        <tr>
          <td>Paula Alejandra Marin Romero </td>
          <td><i class="fas fa-briefcase"></i> Coordinadora Administrativa</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>