  <div class="marquee">
    <ul class="marquee-content">
      <li (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
        <a href="https://www.facebook.com/fresmarcolombia" target="_blank">
          <i class="fab fa-facebook"></i>
        </a>
      </li>
      <li (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
        <a href="https://www.instagram.com/fresmarcolombia/" target="_blank">
          <i class="fab fa-instagram"></i>
        </a>
      </li>
      <li (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
        <a href="https://api.whatsapp.com/send?phone=573206511424&text=" target="_blank">
          <i class="fab fa-whatsapp"></i>
        </a>
      </li>
      <li (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
        <a href="https://www.youtube.com/@comercializadorafresmars.a7812" target="_blank">
          <i class="fab fa-youtube"></i>
        </a>
      </li>
      <li (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
        <a href="https://www.linkedin.com/uas/login?session_redirect=%2Fcompany%2F47663389" target="_blank">
          <i class="fab fa-linkedin"></i>
        </a>
      </li>
    </ul>
  </div>




