<h1 class="titulo">Logos Fresmar</h1>

<div id="mi-contenedor" class="imagen-container-row">
  <div *ngFor="let logo of logos; let i = index" class="imagen-container mat-elevation-z4">
    <mat-card>
      <img [src]="logo.url" [alt]="logo.nombre" (click)="logo.url && downloadFile(logo.url)">
      <div class="nombre-imagen">{{ logo.nombre }}</div>
      <div class="overlay">
        <div class="nombre-imagen2">{{ logo.nombre }}</div>
        <button mat-flat-button color="primary" class="descargar" (click)="logo.url && downloadFile(logo.url)">
          <mat-icon class="icono">cloud_download</mat-icon>
          Descargar
        </button>
      </div>
    </mat-card>
  </div>
</div>
